* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* @font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/ChenYuluoyan-2.0-Thin.ttf') format('truetype');
} */
/* @font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/ChenYuluoyan-20-Thin.woff2') format('woff2');
    font-display: swap;
} */

html,
body {
    scroll-behavior: smooth;
    font-family: 'MyCustomFont';
}

/* loading */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease;
}

.loader {
    position: relative;
    width: 40px;
    height: 60px;
    animation: heartBeat 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader:before,
.loader:after {
    content: "";
    background: #e198e4;
    width: 40px;
    height: 60px;
    border-radius: 50px 50px 0 0;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotate(45deg);
    transform-origin: 50% 68%;
    box-shadow: 5px 4px 5px #c078d6 inset;
}

.loader:after {
    transform: rotate(-45deg);
}

@keyframes heartBeat {
    0% {
        transform: scale(0.95);
    }

    5% {
        transform: scale(1.1);
    }

    39% {
        transform: scale(0.85);
    }

    45% {
        transform: scale(1);
    }

    60% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(0.9);
    }
}

/* color btn: #B698E4, slide: #9FB1EE, background: #C6CDE5, light: #E8EDFD */
section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    position: relative;
}

.title {
    font-size: 100px;
    letter-spacing: 2px;
    line-height: 1.5;
}

.title-container {
    display: grid;
    grid-template-columns: 0.5fr 0.1fr 0.5fr;
    gap: 0px;
    width: 70%;
}

.m {
    padding-left: 100px;
}

.f {
    padding-right: 100px;
}

/* home */
#home {
    position: relative;
    color: #E8EDFD;
    text-align: center;
    overflow: hidden;
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: #a3c2d6;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.6s ease;
}

.bg-image.active {
    opacity: 1;
}

/* home btn */
.button-home {
    display: inline-block;
    padding: 12px 24px;
    border: 3px solid #E8EDFD;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    top: 20px;
    overflow: hidden;
    font-size: 50px;
    font-weight: 1000;
    cursor: pointer;
    color: #E8EDFD;
    z-index: 1;
    letter-spacing: 2px;
    font-family: 'MyCustomFont';
    cursor: pointer;
    background-color: transparent;
}

.button-home:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
    background-color: transparent;
}

.button-home:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #B698E4;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button-home:hover {
    color: #ffffff;
    border: 3px solid #B698E4;
}

.button-home:hover:before {
    top: -35%;
    background-color: #B698E4;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button-home:hover:after {
    top: -45%;
    background-color: #B698E4;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* slide */
#slide {
    background: #E8EDFD;
    color: #7451a8;
}

.c {
    width: 600px;
    height: 750px;
    border-radius: 12px;
    padding: 20px;
    padding-bottom: 20px;
    box-shadow: 0 8px 10px 2px hsla(10 6% 15% / 0.4);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: hsl(0 0% 90%);
    box-sizing: border-box;
}

.ci {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    transform-origin: left 50%;
    background: inherit;
    z-index: var(--z);
    transition: 0.3s ease-out;
}

.ci img {
    -moz-user-select: none;
    user-select: none;
    width: 100%;
    height: auto;
    border-radius: 10px;
    max-height: 1000px;
}

.ch {
    position: absolute;
    top: 80%;
    left: 4%;
    transform: translateY(-50%);
    font-size: 3rem;
    font-weight: 50;
    color: white;
    text-shadow: 0 2px 10px hsla(var(--h) var(--s) 10% / 0.3);
    line-height: 2.5ch;
}

input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -10;
}

label {
    width: 10%;
    height: 10px;
    margin-right: 4px;
    border-radius: 20px;
    background: hsla(0 0% 90% / 0.3);
    cursor: pointer;
    position: relative;
    z-index: 10;
}

label:last-child {
    margin-right: 0;
}

input:checked+label {
    background: linear-gradient(to right,
            hsla(var(--hue) 87% 88%),
            hsla(calc(var(--hue) + 30) 87% 88%));
}

input:not(:checked)+label+.ci {
    transform: translateX(-100%);
    opacity: 0;
}

input:checked+label+.ci~.ci {
    transform: translateX(100%);
}

input:not(:checked)+label+.ci {
    transition: 0;
}

/* event info */
.grid-title {
    font-size: 50px;
    letter-spacing: 2px;
    color: #B698E4;
    line-height: 2;
}

.there-title {
    font-size: 40px;
    letter-spacing: 2px;
    color: #B698E4;
    line-height: 1;
    cursor: pointer;
    user-select: none;
    border: 3px solid #B698E4;
    border-radius: 20px;
    margin-bottom: 60px;
    font-weight: 600;
}

.info {
    font-size: 50px;
    line-height: 1.5;
    text-align: center;
    font-weight: 200;
}

.content {
    font-size: 50px;
}

.info-grid {
    background-color: transparent;
}

.route {
    padding-left: 2em;
    list-style: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    opacity: 0;
    margin: 0;
    padding: 0;
}

.route.show {
    max-height: 1000px;
    /* 假設最大高度 */
    opacity: 1;
}

.route svg {
    fill: #7451a8;
    width: 30px;
    height: 30px;
}

#map-section {
    background: #E8EDFD;
    text-align: center;
    color: #7451a8;
    justify-content: flex-start;
}

#map {
    width: 100%;
    height: 300px;
    margin-top: 20px;
}

.google-map {
    position: relative;
    padding-top: 20px;
    height: 40vh;
    width: 80%;
}

.google-map iframe {
    border: 0;
    position: absolute;
    top: 10;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Banner */
#banner {
    background: #C6CDE5;
    color: white;
    text-align: center;
    padding: 60px 20px;
    min-height: 40vh;
}

/* RSVP btn */
.button-link {
    height: 50px;
    width: 200px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #B698E4;
    overflow: hidden;
    border-radius: 30px;
    color: #B698E4;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    padding: 10px 24px;
    letter-spacing: 2px;
    font-weight: 1000;
}

.type1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #7451a8;
    border-radius: 30px;
    visibility: hidden;
    height: 5px;
    width: 5px;
    z-index: -1;
}

.button-link:hover {
    box-shadow: 1px 1px 200px #7451a8;
    color: #B698E4;
    border: none;
}

.type1:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
}


/* mobile*/
@media (max-width: 1440px) {
    .m {
        padding-left: 0px;
    }

    .f {
        padding-right: 0px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 80px;
        line-height: 1;
    }

    .title-container {
        display: grid;
        grid-template-columns: 1.0fr;
        width: 90%;
        margin-top: -150px;
    }

    .button-home {
        top: 50px;
        font-size: 30px;
        margin-bottom: 60px;
    }

    .c {
        height: 450px;
        width: 300px;
    }

    .ch {
        font-size: 2rem;
        font-weight: 50;
    }

    .info {
        font-size: 35px;
    }

    .content {
        font-size: 35px;
    }
}